body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(234, 249, 234);
    background-color: rgb(52, 67, 63);
}

.container {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


h1 {
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    margin: 20px;
    cursor: pointer;
}

.icon img {
    width: 400px; 
    height: 400px; 
}

.hidden {
    display: none;
}

.icon:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

