<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>

    <div class="container">
        <div class="icon" onmouseover="showName('Analysis')" onmouseout="hideName()" onclick="window.location.href='/page1'">
            <img src="{{ url_for('static', filename='analysis.jpg') }}" alt="Analysis Icon">
            <p id="analysisName" class="hidden">Analysis</p>
        </div>
        <div class="icon" onmouseover="showName('Visualization')" onmouseout="hideName()" onclick="window.location.href='/plot'">
            <img src="{{ url_for('static', filename='visualize.jpg') }}" alt="Visualization Icon">
            <p id="visualizationName" class="hidden">Visualization</p>
        </div>
        <div class="icon" onmouseover="showName('Prediction')" onmouseout="hideName()" onclick="window.location.href='/prediction'">
            <img src="{{ url_for('static', filename='prediction.jpg') }}" alt="prediction Icon">
            <p id="predictionName" class="hidden">Prediction</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
